body {
	
}

.product {
	
}

.product__rate {
	width: 
	height:
	background-image:
}

.product:nth-child(1) .product__rate-sprite {
	background-position:
}
.product:nth-child(2) .product__rate-sprite {
	background-position:
}