body {
	
}

.product {
	
}

.product__rate-sprite {
	width: 
	height:
	background:
}

.product:nth-child(1) .product__rate-sprite {
	width: 
}
.product:nth-child(2) .product__rate-sprite {
	width: 
}
